production:
  adapter: mysql2
  database: dde_master
  username: root
  password: p@ssword
  host: localhost
  pool: 500

development:
  adapter: mysql2
  database: dde_master
  username: root
  password: p@ssword
  host: localhost
  pool: 500

integration:
  adapter: mysql2
  database: dde_integration
  username: root
  password: root
  host: 192.168.15.5
  pool: 500
